/* cookie emoji filters */

.modal-heading.classic-chocolate{
	filter: brightness(0.9) saturate(0.9);
}

.modal-heading.double-chocolate{
	filter: hue-rotate(-30deg) brightness(0.7) saturate(1);
}

.modal-heading.espresso{
	filter: hue-rotate(-28deg) brightness(0.8) saturate(0.8);
}

.modal-heading.matcha-white{
	filter: hue-rotate(29deg) brightness(0.9) saturate(0.5) sepia(0.3);
}

.modal-heading.assorted{
	animation: 5s infinite rainbowfun forwards;
}

.modal-heading.reeses-peanut-butter-dark-chocolate{
	filter: hue-rotate(-5deg) saturate(100%);
}

.modal-heading.ghirardelli-dark-chocolate{
	filter: hue-rotate(-28deg) saturate(95%) brightness(0.8);
}

.modal-heading.ghirardelli-white-cranberry{
	filter: hue-rotate(-45deg) saturate(130%) brightness(0.9);
}

/* assorted animation */

@keyframes rainbowfun{
	0%  { filter: hue-rotate( 0deg) brightness(0.9) saturate(0.9) sepia(0) }
	25% { filter: hue-rotate(-30deg) brightness(0.7) saturate(1) sepia(0) }
	50% { filter: hue-rotate(-28deg) brightness(0.8) saturate(0.8) sepia(0) }
	75% { filter: hue-rotate(29deg) brightness(0.9) saturate(0.5) sepia(0.3) }
	100%{ filter: hue-rotate( 0deg) brightness(0.9) saturate(0.9) sepia(0) }
}


/* fonts */

@font-face {
  font-family: BaksoSapi;
  src: local('serif'), url(fonts/BaksoSapi.otf);
  font-display: swap;
}

@font-face {
  font-family: Cocomat Light;
  src: url(fonts/Cocomat-Light-trial.ttf);
  font-display: swap;
}

@font-face {
  font-family: Cocomat Ultralight;
  src: local('Roboto'), local('sans-serif'), url(fonts/Cocomat-Ultralight-trial.ttf);
  font-display: swap;
}

/* animations  */
@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1755px;
  }
}

@keyframes diceRotate-small{
	0%{
		transform: rotate(15deg);
	}
	100%{
		transform: rotate(375deg);
	}
}

@keyframes diceRotate{
	0%{
		transform: rotate(-65deg);
	}
	100%{
		transform: rotate(295deg);
	}
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-20px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}

@keyframes ufloat2 {
  0%, 100%{
    transform: translate3d(0, 0%,0);
  }
  50% {
    transform: translate3d(0, -1000%,0);
  }
}

@keyframes ufloat3 {
  0%, 100%{
    transform: translate3d(0, 0%,0);
  }
  50% {
    transform: translate3d(-1000%, -500%,0);
  }
}

@keyframes ufloat4 {
  0%, 100%{
    transform: translate3d(0, 0%,0);
  }
  50% {
    transform: translate3d(1000%, 500%,0);
  }
}

@keyframes ufloat5 {
  0%, 100%{
    transform: translate3d(0, 0%,0);
  }
  50% {
    transform: translate3d(-1000%, 500%,0);
  }
}

@keyframes wiggle {
  0%{
  	transform: translateX(0px) translateY(0px);
  }

  25%{
  	transform: translateX(-12px) translateY(-13px);
  }

  50%{
  	transform: translateX(8px) translateY(2px);
  }

  75%{
  	transform: translateX(6px) translateY(-9px);
  }

  100%{
  	transform: translateX(0px) translateY(0px);
  }
}

@keyframes scaleParty {
  0%, 100%{
  	transform: scale(1.0);
  }

  50%{
  	transform: scale(0.7);
  }
}

/* base styles */

html,
body{
	box-sizing: border-box;
	position: relative;
	font-family: "Cocomat Light", sans-serif;
	color: #202020;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

p{
	line-height: 1.5;
}

img {
  aspect-ratio: attr(width) / attr(height);
}

a, 
a:hover, 
a:visited,
a:visited:hover{
	color: #606060;
}

h1, h2, h3, h4, h5, h6, p{
	word-break: word-break;
}

h1,h2,h3,h4{
	font-family: "BaksoSapi";
}

h1{
	font-size: 36pt;
}

h2{
	font-size: 32pt;
	color:  #fea88d;
}

h3{
	font-size: 18pt;
	color:  #fea88d;
}

img{
	max-width: 100%;
	width: 100%;
	height: auto;
}

.container{
	max-width: 1200px;
	margin:  0 auto;
	width: 100%;
	position: relative;
	box-sizing: border-box;
}

.with-numbers span{
	font-family: sans-serif;
	font-weight: 500;
	opacity: 0.85;
}

/* modal */
.modal-container{
	background: rgba(255,255,255,0.9);
	position: fixed;
	display: flex;
	height: 100%;
	width: 100%;
	z-index: 0;
	top: 0;
	left: 0;
	opacity: 0;
	pointer-events: none;
	transition: 0.3s;
}

.modal-container.active{
	opacity: 1;
	pointer-events: all;
	z-index: 99;
	transition: 0.3s;
}

.modal-container *{
	transition: 0.3s;
}

.modal-content-container{
	box-shadow: 0px 2px 30px rgb(0 0 0 / 20%);
	margin: 0 auto;
	align-self: center;
	max-width: 90%;
	max-height: 75%;
	width: 100%;
	height: auto;
	background: #ffffff;
	position: relative;
	border-radius: 15px;
	overflow: hidden;
}

.modal-content{
	display: flex;
}

.modal-info-container{
	display: flex;
	flex-wrap: wrap;
	flex-basis: 100%;
	height: 100%;
	align-self: center;
}

.modal-info{
	padding: 50px 25px 25px;
	align-self: center;
}

.modal-info *{
	overflow-wrap: break-word;
}

.modal-container h1{
	margin: 0;
	font-size: 32pt;
	text-shadow: 3px 3px 2px #f9d098;
	color: #404040;
}

.modal-container .modal-price{
	font-size: 20pt;
	margin: 12px auto;
}

.modal-info p{
	margin: 5px auto;
	font-size: 14pt;
	font-weight: bold;
	line-height: 1.7;
}

.modal-image-container{
	max-width: 100%;
	max-height: 750px; 
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.modal-image-container img{
	object-fit: cover;
	object-position: 60% 65%;
	width: 100%;
	height: 100%;
	max-height: inherit;
	transition: 0.6s;
}

.modal-image-container img:hover{
	transform: scale(1.4);
	transition: 0.6s;
}

.modal-heading{
	font-size: 18pt;
	position: relative;
	max-width: max-content;
}


.close-modal{
	position: absolute;
  right: 5px;
  top: -20px;
  color: #ffffff;
  font-size: 40pt;
  transform: rotate(45deg);
  margin: 0;
  cursor: pointer;
  z-index: 1;
  border-radius: 100%;
  padding: 12px;
  user-select: none;
  transition: 0.3s;
  font-family: "Cocomat Light", sans-serif;
}

.close-modal .close-inner{
	font-family: "Cocomat Light", sans-serif;
}

.close-modal:after{
	  content: "";
    background: rgba(0,0,0,0.3);
    height: 35px;
    width: 35px;
    position: absolute;
    left: 39%;
    top: 55%;
    transform: translate(-36%, -58%);
    border-radius: 100%;
    z-index: -1;
    transition: 0.3s;
}

.close-modal:hover{
	transition: 0.3s;
}

.close-modal:hover:after{
	background-color: #fea88d;
	transition: 0.3s;
}

/* add to cart */
.addToCartContainer{
	display: flex;
	margin: 20px auto;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.quantityCart{
	max-width: max-content;
	align-self: center;
}

.quantityCart input[type=number]:focus{
	outline: none;
}

.quantityCart input[type=number]{
	font-size: 18px;
	padding: 10px 8px;
	border: solid 2px #202020;
	background: transparent;
	font-weight: bold;
	border-radius: 15px;
}

.addToCart{
	font-size: 18pt;
	font-weight: bold;
	line-height: 0;
	max-width: max-content;
	max-height: max-content;
	margin: 0;
	cursor: pointer;
	text-transform: uppercase;
	border-radius: 30px;
	background: #202020;
	color: #ffffff;
	padding: 4px 24px;
	letter-spacing: 2px;
	margin-left: 20px;
	transition: 0.3s;
}

.addToCart p{
	transition: inherit;
}

.addToCart:hover{
	background: #404040;
}

.added{
	position: absolute;
	flex-basis: 100%;
	font-size: 14pt;
	opacity: 0.0;
	pointer-events: none;
	transition: 1s;
	bottom:  5px;
}

.added.p{
	transition: 0.3s;
}

.added.shown{
	opacity: 0.5;
	height: auto;
	pointer-events: all;
	transition: 1s;
}

/* floats */
.circle.pink.float,
.circle.yellow.float{
	animation: 8s ufloat2 forwards;
	transition: 0.6s;
}

.collections .circle.float{
	animation: 3s ufloat3 forwards;
}

.content-footer-gap .right-circles .circles-container .circle.pink.float,
.content-footer-gap .right-circles .circles-container .circle.yellow.float{
	animation: 6s ufloat4 forwards;
}

.content-footer-gap .left-circles .circles-container .circle.pink.float,
.content-footer-gap .left-circles .circles-container .circle.yellow.float{
	animation: 6s ufloat5 forwards;
}

.footer .circles-container .circle.float{
	animation: 2s ufloat5 forwards;
}

/* header circles */

.circles-container{
	position: relative;
	display: flex;
	min-height: 250px;
	justify-content: center;
	width: 100%;
	transition:  1s;
}

.circles-container:before{
	animation: 10s infinite wiggle forwards, 60s scaleParty infinite forwards, 6s swell infinite forwards;
	transition:  1s;
}

.circles-container:before{
	content: "";
	position: absolute;
	right: 0;
	top: -90%;
	max-height: 640px;
	max-width:  640px;
	min-height: 480px;
	min-width:  480px;
	background: #fea88d;
	opacity: 0.6;
	border-radius:  100%;
}

.circles-container .circle.pink{
	max-height: 60px;
	max-width: 60px;
	position: absolute;
	top: 55%;
	right: 55%;
}

.circles-container .circle.yellow{
	max-height: 40px;
	max-width: 40px;
	opacity: 0.6;
	position: absolute;
    top: 48%;
    right: 48%;
}

/* circles - general */

.circle{
	align-self: center;
	width: 100%;
	height: 100%;
	border-radius: 100%;
	background-color: #fea88d;
	position: relative;
	transition: 1s;
	cursor: grab;
	z-index: 1;
}

.circle:nth-of-type(odd){
	animation: 20s infinite wiggle forwards;
}

.circle:nth-of-type(even){
	animation: 10s infinite swell forwards;
}


.circle:hover{
	transition: 0.3s;
	transform: scale(0.8);
}

.circle:nth-of-type(even):hover .circle-inner{
	transition: 2s;
	transform: rotate(900deg) scale(0.4);
}

.circle:nth-of-type(odd):hover .circle-inner{
	transition: 2s;
	transform: rotate(-900deg) scale(0.4);
}

.circle-inner{
	position: relative;
	height: 100%;
	width: 100%;
	transition: 2s;
}

.circle.pink{
	background-color: #fea88d;
}

.circle.pink .circle-inner:before{
	  content: "";
    height: 30%;
    width: 30%;
    background: #ffffff;
    opacity: 0.5;
    position: absolute;
    left: 20%;
    top: 20%;
    border-radius: 100%;
}

.circle.pink .circle-inner:after{
	  content: "";
    height: 15%;
    width: 15%;
    background: #ffffff;
    opacity: 0.5;
    position: absolute;
    left: 65%;
    top: 30%;
    border-radius: 100%;
}

.circle.yellow{
	background-color: #f9d098;
}

.circle.yellow .circle-inner:before{
	  content: "";
    height: 25%;
    width: 25%;
    background: #ffffff;
    opacity: 0.5;
    position: absolute;
    left: 50%;
    top: 20%;
    border-radius: 100%;
}

.circle.yellow .circle-inner:after{
		content: "";
    height: 15%;
    width: 15%;
    background: #ffffff;
    opacity: 0.5;
    position: absolute;
    left: 65%;
    top: 50%;
    border-radius: 100%;
}

.circle.large{
	max-width: 640px;
	max-height: 640px;
	width: 100%;
	height: auto;
}

.circle.large:before,
.circle.large:after{
	content:  none;
}

/* Content */

.tap-bubble-container{
	position: absolute;
	top: 5%;
	left: 25%;
	transform: translateX(-50%);
	z-index: 2;
	opacity: 0;
	pointer-events: none;
	animation: 3s swell infinite forwards;
	transition: 0.6s;
}

.tap-bubble-container.show{
	opacity: 1;
	transition: 0.6s;
}

.tap-bubble{
	position: relative;
	background: #3d3d3d;
	border-radius: .4em;
	color: #ffffff;
	padding: 14px 24px;
	font-weight: 600;
	font-size: 20px;
	letter-spacing: 1px;
}

.tap-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #3d3d3d;
	border-bottom: 0;
	margin-left: -20px;
	margin-bottom: -10px;
}

/* Top Content */

.our-products-header{
	font-family: "BaksoSapi";
	color: #fea88d;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-top: 40px;
}

.our-products-header h2,
.our-products-header div{
	align-self: center;
}

.our-products-header h2{
	margin-right: 20px;
}

.dropdown select{
	background: transparent;
    border: solid 1px #fea88d;
    padding: 10px 52px 10px 22px;
    border-radius: 15px;
    font-family: Cocomat Light;
    font-weight: bold;
    font-size: 16pt;
    color: #808080;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    background: url(./images/arrow-small.png) no-repeat;
    background-position: 95% 52%;
}

.dropdown select:focus{
	outline: none;
}

.dropdown select option{
	background: #ffffff;
}

.dropdown select option:select{
	background: #fea88d;
}

/* Products */

.items-container{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.item-container{
	flex-basis: 30%;
	margin: 25px 12px;
	position: relative;
}

.item-container *, 
.close-modal{
	-webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
}

.item-container .item{
	flex-basis: 100%;
}

.item-container .image{
	border-radius: 100%;
	max-width: 320px;
	max-height: 320px;
	width: 100%;
	height: auto;
	overflow: hidden;
	margin: 0 auto;
}

.items-container .info{
	max-width: 320px;
	text-align: center;
	margin: 0 auto;
}

.items-container h3{
	margin: 10px auto;
}

.items-container *{
	transition: 0.3s;
}

.items-container .product-name{
	margin: 30px auto 10px;
}

.product-name span{
	display: none;
}

.items-container .product-desc{
	display: none;
}

.items-container .box-price{
	color: #e3ad86;
}

.item-container:nth-child(odd) .image-container:after{
	content: "";
	background: #fce7cb;
	position: absolute;
	max-width: 320px;
	max-height: 320px;
	width: 100%;
	height: 100%;
	z-index: -1;
	border-radius: 100%;
}

.item-container:nth-child(even) .image-container:after{
	content: "";
	background: #fea88d;
	position: absolute;
	max-width: 320px;
	max-height: 320px;
	width: 100%;
	height: 100%;
	z-index: -1;
	border-radius: 100%;
}

.item-container .image{
	cursor: pointer;
	overflow: hidden;
	position: relative;
	transition: 0.3s;
}

.image-container{
	position: relative;
}

.image img{
	transform: translateY(-50%);
  position: relative;
  top: 140px;
}

.item-container .image .img-hover{
	width: 100%;
	height: 100%;
	opacity: 0;
	pointer-events: none;
	transition: 0.3s;
	z-index: 0;
}

.item-container .image .quick-view{
	position: absolute;
  opacity: 0;
  left: 50%;
  top: 50%;
  z-index: 2;
  font-size: 30pt;
  color: #ffffff;
  transform: translate(-50%, -50%);
  width: 100%;
  margin: 0 auto;
  text-align: center;
  text-shadow: 2px -1px 10px rgb(0 0 0 / 20%);
}

.item-container .image:hover .quick-view{
	opacity: 1;
	transition: 0.3s;
	transition-delay: 0.1s;
}

.item-container .image:hover .img-hover{
	content: "";
	background: #fea88d;
	opacity: 0.65;
	position: absolute;
	max-width: inherit;
	max-height: inherit;
	width: 100%;
	height: 100%;
	pointer-events: all;
	transition: 0.3s;
	z-index: 1;
}

.item-container:nth-child(1) .image-container:after{
	top: 50%;
	left: 50%;
	transform: translate(-50%, -53%);
}

.item-container:nth-child(2) .image-container:after{
	top: 50%;
	left: 50%;
	transform: translate(-47%, -50%);
}

.item-container:nth-child(3) .image-container:after{
	top: 50%;
	left: 50%;
	transform: translate(-47%, -47%);
}

.item-container:nth-child(4) .image-container:after{
	top: 50%;
	left: 50%;
	transform: translate(-52%, -47%);
}

.item-container:nth-child(5) .image-container:after{
	top: 50%;
	left: 50%;
	transform: translate(-47%, -53%);
}

.item-container .item .image-container:after{
	transition: 0.4s;
}

.item-container .item .image-container:hover:after{
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: 0.4s;
}

/* collections - circles */

.collections .circles-container:before{
	content: none;
}

.collections .circles-container{
	position: absolute;
	left: 0;
	justify-content: flex-start;
}

.collections .circles-container .circle.pink{
	max-width: 45px;
	max-height: 45px;
	top:  40%;
	left: -18%;
}

.collections .circles-container .circle.yellow{
	top:  -40%;
	left: -12%;
}

.collections .circle.yellow .circle-inner:before{
	content: "";
    height: 30%;
    width: 30%;
    background: #ffffff;
    opacity: 0.5;
    position: absolute;
    left: 20%;
    top: 20%;
    border-radius: 100%;
}

.collections .circle.yellow .circle-inner:after{
	content: "";
    height: 15%;
    width: 15%;
    background: #ffffff;
    opacity: 0.5;
    position: absolute;
    left: 65%;
    top: 30%;
    border-radius: 100%;
}

/* collections */

.collections{
	display: flex;
	flex-wrap: wrap;
}

.signature-collection,
.deluxe-collection{
	opacity: 0;
	pointer-events: none;
	transition: 0.3s;
	height: 0;
	flex-basis: 100%;
}

.signature-collection.active,
.deluxe-collection.active{
	opacity: 1;
	pointer-events: all;
	height: 100%;
}

/* separator */

.separator{
	display: block;
	width: 100%;
	margin: 50px auto;
	max-width: 100%;
	text-align: center;
	height: 1px;
	border-radius: 100%;
	opacity: 0.9;
	background: #fea88d;
}

/* order form */

.order-form-container{
	width: 100%;
	max-width: 100%;
	word-break: all;
}

.order-form-container label{
	margin: 1em auto;
}

.order-form-container p,
.order-form-container label{
	font-weight: 600;
	font-family: "Cocomat Light", Roboto, sans-serif;
	width: 100%;
	max-width: 100%;
	word-break: break-word;
	font-size: 16pt;
}

.order-form-container p.light{
	font-weight: 600;
	font-style: italic;
	font-size: 14pt;
}

.order-form{
	margin-bottom: 40px;
	overflow: hidden;
}

.order-form label{
	font-size: 16pt;
	font-weight: bold;
}

.address b{
	color: #606060;
}

.order-form > div{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.order-form > div > p,
.order-form > div > label{
	font-weight: bold;
	opacity: 0.6;
}

.order-form > div > p,
.order-form > div > input,
.order-form > div > textarea,
.order-form > div > label{
	flex-basis: 100%;
	background: transparent;
	resize: none;
}

.order-form > div > input,
.order-form > div > input:focus,
.order-form > div > textarea{
	font-size: 20pt;
	font-weight: normal;
	color: #505050;
	border: none;
	border: solid 1px rgba(0,0,0,0.1);
	outline: none;
	padding: 12px 15px;
	margin:  0;
	border-radius: 15px;
	width: 100%;
	max-width: 100%;
}

.order-extra-details{
	margin: 40px auto 20px;
}

/* social media */

.socmed{
	display: flex;
	position: relative;
}

.facebook,
.instagram{
	margin:  20px 15px;
	max-width: 40px;
	max-height: 40px;
}

/* copy button */

.copy-button p{
	font-size: 12pt;
	border-radius: 15px;
	background: #fea88d;
	padding: 10px 20px;
	color: #ffffff;
	max-width: max-content;
	width: 100%;
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: 3px;
	position: relative;
	top: -3px;
	left: -3px;
	transition: 0.3s;
}

.copy-button p:after{
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	right: -3px;
	bottom: -3px;
	background: #f9d098;
	z-index: -1;
	border-radius: inherit;
	transition: 0.3s;
}

.copy-button p:hover{
	top: 0;
	left: 0;
	transition: 0.3s;
}

.copy-button p:hover:after{
	top: 0;
	right: 0;
	transition: 0.3s;
}

.copy-button p{
	margin: 0 auto 0 0;
	line-height: 1;
	font-weight: 600;
}

/* chat bubble confirm */
.bubble-container{
	position: relative;
	left: 0;
	top: 0;
}

.confirm-bubble{
	position: absolute;
	background: #3d3d3d;
	border-radius: .4em;
	letter-spacing: 0.5px;
	text-transform: none;
	padding: 14px 24px;
	font-size: 12pt;
	font-weight: 600;
	top: -100px;
	transition: 0.6s;
	pointer-events: none;
	opacity: 0;
	max-width: max-content;
	color: #ffffff;
}

.confirm-bubble.confirming{
	opacity: 1;
	transition: 0.6s;
}

.confirm-bubble:after{
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 25px solid transparent;
	border-top-color: #3d3d3d;
	border-bottom: 0;
	border-left: 0;
	margin-left: -12.5px;
	margin-bottom: -10px;
}

/* socmed bubble */

.socmed-bubble-container{
	position: absolute;
  left: 160px;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
  width: 100%;
}

.socmed-bubble {
	  position: absolute;
    background: #3d3d3d;
    border-radius: .4em;
    letter-spacing: 0.5px;
    text-transform: none;
    padding: 14px 24px;
    font-size: 12pt;
    font-weight: 600;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.6s;
    pointer-events: none;
    opacity: 0;
    max-width: max-content;
    color: #ffffff;
}

.socmed-bubble.dm-us {
	  opacity: 1;
}

.socmed-bubble:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: #3d3d3d;
	border-left: 0;
	border-top: 0;
	margin-top: -10px;
	margin-left: -20px;
}

/* footer */

.footer{
	width: 100%;
	height: auto;
	min-height: 400px;
	max-height: 600px;
	overflow: hidden;
	position: relative;
	display: flex;
}

.footer img{
	object-fit: cover;
}

/* source: https://codepen.io/tedmcdo/pen/PqxKXg */

.waves-container{
	background:radial-gradient(ellipse at center, rgba(255,254,234,1) 0%, rgba(255,254,234,1) 35%, #B7E8EB 100%);
  overflow: hidden;
}

.ocean { 
  height: 30%;
  width: 100%;
  position:absolute;
  bottom:0;
  left:0;
  background: #fea88d;
}

.wave {
  background: url(https://res.cloudinary.com/robin-optimizations/image/upload/q_100/v1622287596/footer-wave-yellow_my6wrh.webp) repeat-x; 
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 198px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
	background: url(https://res.cloudinary.com/robin-optimizations/image/upload/q_100/v1622287596/footer-wave-pink_g36pbj.webp) repeat-x;
  top: -175px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 6s ease -1.25s infinite;
  opacity: 1;
}

/* flair elements */

.content-footer-gap{
	min-height: 60px;
}

.content-footer-gap .circles-container{
	position: absolute;
}

.content-footer-gap .circles-container:before{
	content: none;
}

.content-footer-gap .right-circles .circles-container .circle.yellow{
	right: 6%;
	top: -20%;	
}

.content-footer-gap .right-circles .circles-container .circle.pink{
	right: 8%;
	top:  8%;
}

.content-footer-gap .left-circles .circles-container .circle.yellow{
	left: 10%;
	top: 12%;	
}

.content-footer-gap .left-circles .circles-container .circle.pink{
	left: 3%;
	top:  30%;
}

.footer .circles-container:before{
	content: none;
}

.footer .circles-container .circle.pink{
	left: 4%;
	bottom:  10%;
	background: #f9d098;
	opacity: 0.4;
}

.footer .circles-container .circle.yellow{
	left: 10%;
	bottom: 18%;	
	top: auto;
	opacity: 0.3;
}

.dice-container{
	position: absolute;
	bottom: 5%;
	right: 2%;
}

.dice-container *{
	transition: 0.6s;
}

.dice{
  width: 140px;
  height: 140px;
  border: solid 10px #ffffff;
  border-radius: 15px;
  background: transparent;
  transform: rotate(15deg);
  position: relative;
  z-index: 3;
  cursor: pointer;
}

.dice.large.circulate,
.dice.small.circulate{
	/*animation:  1s scaleParty 1 forwards;*/
}

.dice.large{
	transform: rotate(-65deg);
	opacity: 0.5;
	animation: 60s infinite diceRotate forwards;
}

.dice.large:after{
	animation: 9s infinite diceRotate forwards;
}

.dice.small{
	width: 80px;
	height: 80px;
	position: relative;
	left:  -120%;
	bottom: -100%;
	border: solid 8px #ffffff;
	border-radius: 12px;
	animation: 200s infinite diceRotate-small forwards;
}

.dice.small:after{
	width: 100%;
	height: 100%;
	top: -25%;
	left: -25%;
	animation: 6s infinite diceRotate-small forwards;
}

.dice:before{
	content: "";
	height: 40%;
	width: 40%;
	border-radius: 100%;
	position: absolute;
	top: -2px;
	left: 20px;
	background: #ffffff;
}

.dice:after{
	content: "";
  width: 100%;
  height: 100%;
	border-radius: inherit;
	position: absolute;
	top: -20%;
	left: -20%;
	background: #ffffff;
	opacity: 0.6;
}

/* end  */

.copyright p{
	font-family: sans-serif;
	font-weight: 500;
	letter-spacing: 1px;
	color: #fff;
	text-align: center;
	position: absolute;
	left: 50%;
	bottom: 30px;
	transform: translateX(-50%);
	margin: 0 auto;
}

@media screen and (max-width:  1600px){
	.modal-image-container{
		display: flex;
	}

	.modal-image-container img{
		/*transform: translateY(0);*/
	}
}

@media screen and (max-width:  1550px){

	.circles-container{
		min-height: 180px;
	}

	.circles-container:before{
		top: -120%;
		right: -2%;
	}

	.content-footer-gap .right-circles .circles-container .circle.yellow{
		right: 10%;
    top: -240%;
	}

	.content-footer-gap .right-circles .circles-container .circle.pink {
    right: 12%;
    top: -200%;
  }

  .content-footer-gap .left-circles .circles-container .circle.pink{
  	left: 40%;
    top: 9%;
  }

  .content-footer-gap .left-circles .circles-container .circle.yellow{
  	left: 56%;
    top: 20%;
  }

  .dice{
  	width: 90px;
  	height: 90px;
  }

  .dice:before{
  	left: 14px;
  }

  .dice.small{
  	width: 30px;
  	height: 30px;
  	border-radius: 5px;
  	border: 6px solid #ffffff;
  	opacity: 0.7;
  	animation: 20s infinite diceRotate-small forwards;
  }

}

@media screen and (max-width: 1440px){

	.modal-image-container{
		max-height: 550px;
	}

	.addToCartContainer{
		flex-wrap: wrap;
	}

	.quantityCart{
		flex-basis: 100%;
	}

	.addToCart{
		flex-basis: 100%;
		margin-left: 0;
		margin: 10px 0 10px 0;
	}
}

@media screen and (max-width: 1350px){

	.container{
		padding: 0px 20px;
	}

	.modal-image-container{
		max-height: 580px;
	}

}

@media screen and (max-width: 1200px){

	.modal-image-container{
		max-height: 600px;
	}
	
}

@media screen and (max-width: 1024px){

	.circles-container:before{
		right: -10%;
		top:  -110%;
	}

	.item-container{
		flex-basis: 40%;
	}

	.modal-image-container{
		max-height: 700px;
	}

	.modal-content-container{
		max-height: 65%;
	}

	.modal-info p{
		font-size: 14pt;
	}

}

@media screen and (max-width: 992px){

	.circles-container{
		min-height: 150px;
	}

	.circles-container:before{
		top: -200%;
		right: -10%;
	}

	.circles-container .circle.pink{
		top: 75%;
    right: 75%;
	}

	.circles-container .circle.yellow{
		top: 65%;
    right: 65%;
	}

	.quantityCart,
	.addToCartContainer{
		flex-basis: auto;
		align-self: center;
	}

	.addToCart{
		flex-wrap: nowrap;
		margin-left: 20px;
	}

	.modal-content-container{
		max-height: 80%;
	}

	.modal-content{
		flex-wrap: wrap;
	}

	.modal-image-container{
		max-height: 450px;
	}

	.modal-container h1{
		font-size: 20pt;
	}

	.modal-container .modal-price{
		font-size: 18pt;
	}

	.modal-info{
		padding: 12px 22px 12px;
	}

	.modal-info p{
		font-size: 14pt;
	}

	.addToCartContainer{
		margin: 0 auto;
	}

	.content-footer-gap .right-circles .circles-container .circle.pink{
		right: 12%;
    top: -320%;
	}

	.content-footer-gap .right-circles .circles-container .circle.yellow{
		right: 10%;
    top: -240%;
	}

	.added{
		bottom: 10px;
	}
}

@media screen and (max-width: 800px){

	html, body, body *{
		-webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
	}

	.item-container:nth-child(odd) .image-container:after,
	.item-container:nth-child(even) .image-container:after,
	.item-container .image{
		max-width: 250px;
		max-height: 250px;
	}

	.item-container .image .quick-view{
		font-size: 24pt;
	}
}

@media screen and (max-width: 768px){
	.item-container:nth-child(odd) .image-container:after,
	.item-container:nth-child(even) .image-container:after,
	.item-container .image{
		max-width: 200px;
		max-height: 200px;
	}

	.image img{
		transform: translateY(-50%);
	  position: relative;
	  top: 80px;
	}

	.item-container .image .quick-view{
		font-size: 18pt;
	}

	.modal-content-container{
		max-height: 90%;
	}

	.quantityCart,
	.addToCartContainer{
		flex-basis: 100%;
		align-self: center;
	}

	.addToCart{
		flex-wrap: wrap;
		margin-left: 0;
	}

	.our-products-header{
		flex-wrap: wrap;
	}

	.dice.small{
		opacity: 0.3;
	}

	.modal-image-container{
		max-height: 400px;
	}

}

@media screen and (max-width: 600px){

	.circles-container{
		min-height: 120px;
	}

	.circles-container:before{
		top: -240%;
		right: -25%;
	}

	.item-container:nth-child(odd) .image-container:after,
	.item-container:nth-child(even) .image-container:after,
	.item-container .image{
		max-width: 320px;
		max-height: 320px;
	}

	.image img{
		top: 120px;
	}

	.item-container .image .quick-view{
		font-size: 24pt;
	}

	.item-container{
		flex-basis: 100%;
		justify-content: center;
	}

	.item-container .image,
	.items-container .info{
		margin: 0 auto;
	}

	.modal-image-container{
		max-height: 300px;
	}

	.content-footer-gap .right-circles .circles-container .circle.pink{
    top: -450%;
	}

	.content-footer-gap .right-circles .circles-container .circle.yellow{
    top: -350%;
	}

	.modal-container h1{
		font-size: 28px;
		text-shadow: 2px 2px 1px #f9d098;
	}

}

@media screen and (max-width: 550px){
	.circles-container{
		min-height: 100px;
	}

	.circles-container:before{
		top: -300%;
		right: -40%;
	}

	.content-footer-gap .right-circles .circles-container .circle.pink{
    top: -550%;
	}

	.content-footer-gap .right-circles .circles-container .circle.yellow{
    top: -420%;
	}
}

@media screen and (max-width: 460px){
	.circles-container .circle.pink{
		top: 85%;
    	right: 85%;
	}

	.circles-container .circle.yellow{
		top: 75%;
    	right: 75%;
	}

	.content-footer-gap .right-circles .circles-container .circle.pink{
    top: -600%;
	}

	.content-footer-gap .right-circles .circles-container .circle.yellow{
    top: -450%;
	}

	.quantityCart input[type=number]{
		max-width: 100%;
		width: 100%;
	}

	.addToCartContainer{
		padding-right: 20px;
		padding-bottom: 20px;
	}

	.added{
		bottom: 20px;
	}

	.added p{
		font-size: 10pt;
	}

	.order-form-container h2{
		font-size: 28px;
	}

	.order-form-container p{
		font-size: 16px;
	}

	.order-form > div > input, 
	.order-form > div > input:focus, 
	.order-form > div > textarea{
		font-size: 20px;
	}


}

@media screen and (max-width: 420px){

	.tap-bubble{
		font-size: 16px;
	}

	.circles-container{
		min-height: 80px;
	}

	.circles-container:before{
		top: -400%;
		right: -70%;
	}

	.circles-container .circle.pink{
		top: 95%;
    right: 95%;
	}

	.circles-container .circle.yellow{
		top: 85%;
    	right: 85%;
	}

	.dropdown select{
		font-size: 12pt;
	}

	.content-footer-gap .right-circles .circles-container .circle.pink{
    top: -700%;
	}

	.content-footer-gap .right-circles .circles-container .circle.yellow{
    top: -600%;
	}

	.socmed{
		justify-content: center;
	}

	.modal-content-container{
		max-height: 90%;
	}

	.modal-image-container{
		max-height: 300px;
	}

	.modal-container .modal-price{
		font-size: 18pt;
	}

	.modal-info p{
		font-size: 12pt;
	}

	.socmed-bubble{
		top: -40%;
    left: -30%;
	}

	.socmed-bubble:after{
		content: '';
		position: absolute;
		bottom: 0;
		left: 50%;
		width: 0;
		height: 0;
		border: 20px solid transparent;
		border-top-color: #3d3d3d;
		border-bottom: 0;
		margin-left: -20px;
		margin-bottom: -15px;
		top: auto;
	}

	.added{
		top: auto;
		bottom: 10px;
		font-size: 10pt;
	}

	.added p{
		font-size: 10pt;
	}

	.added.shown p{
		font-size: 10pt;
	}

}

@media (min-width: 400px ) and (max-width: 402px){
	.content-footer-gap .right-circles .circles-container .circle.pink{
		top: -310%;
	}
}

@media screen and (max-width: 360px){

	.item-container:nth-child(odd) .image-container:after,
	.item-container:nth-child(even) .image-container:after,
	.item-container .image{
		max-width: 250px;
		max-height: 250px;
	}

	.circles-container{
		min-height: 60px;
	}

	.circles-container:before{
		top: -450%;
		right: -100%;
	}

	.dropdown select{
		font-size: 10pt;
	}

	.content-footer-gap .right-circles .circles-container .circle.pink{
    top: -1100%;
    right: 5%;
	}

	.content-footer-gap .right-circles .circles-container .circle.yellow{
    top: -950%;
    right: 0%;
	}

	.modal-image-container{
		max-height: 250px;
	}

	.socmed-bubble{
    left: -35%;
	}

}

/* bubbles - extension
 * source:  https://codepen.io/Mark_Bowley/pen/mEtqj;
 */

#background-wrap {
  bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: -1;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

/* KEYFRAMES */

@-webkit-keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }
    100% {
        margin-top: -100%;
    }
}

@-moz-keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }
    100% {
        margin-top: -100%;
    }
}

@keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }
    100% {
        margin-top: -100%;
    }
}

@-webkit-keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}

@-moz-keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}

@keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}

/* ANIMATIONS */

.x1 {
    -webkit-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: -5%;
	top: 5%;
	
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
}

.x2 {
    -webkit-animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
	-moz-animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
	
	left: 5%;
	top: 80%;
	
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
}

.x5 {
    -webkit-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	-moz-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	
	left: 30%;
	top: 50%;
	
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	transform: scale(0.5);
}

.x7 {
    -webkit-animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 65%;
	top: 70%;
	
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
}

.x8 {
    -webkit-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	-moz-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	
	left: 80%;
	top: 10%;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

.x9 {
    -webkit-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	-moz-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	
	left: 90%;
	top: 50%;
	
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
}

/* OBJECTS */

.bubble {
  -webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	
  height: 200px;
	position: absolute;
	width: 200px;
	opacity: 0.1;
}

.bubble:nth-of-type(even){
	background: #f9d098;
}

.bubble:nth-of-type(odd){
	background: #fea88d;
}

/* bubble - extension - end */

/* experimental */
.price-store{
	font-family: sans-serif;
	position: absolute;
	z-index: -1;
	opacity: 0;
	pointer-events: none;
	height: 0;
	width: 0;
}

.total-price-container{
	position: absolute;
	height: 0;
	width: 0;
	transition: 0.6s;
	pointer-events: all;
	display: none;
	opacity: 0;
}

.total-price-container.show{
	opacity: 1;
	height: auto;
	width: 100%;
	transition: 0.6s;
	pointer-events: all;
}

.total-price-php{
	display: flex;
	flex: 1 0;
}

.total-price-container .total-price-php p{
	font-family: sans-serif;
}

.total-price-php *{
	align-self: center;
	margin: 4px 10px;
}

/* end experimental */